{% load static %}
{% load custom_filters %}


<!DOCTYPE html>
<html>

<head>
    <title>{{ producto.nombre }} - Detalle</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div id="main_container">
        <!-- Header -->
        {% include "partials/header.html" %}
              <!-- partial of menu tab -->
      {% include "partials/menu_tab.html" %}
        <div class="left_content">
            <div class="title_box">Categorias</div>
            <ul class="left_menu">
                {% for cat in categorias %}
                <li class="{% cycle 'odd' 'even' %}{% if categoria_activa == cat %} active{% endif %}">
                    <a href="{% url 'productos_ferreteria' %}?categoria={{ cat|urlencode }}">{{ cat }}</a>
                </li>
                {% endfor %}
                <li class="odd"><a href="{% url 'productos_ferreteria' %}">Ver todas</a></li>

            </ul>

            <div class="title_box">Producto destacado</div>
            <div class="border_box">
                <div class="product_title"><a href="#">Makita 156 MX-VL</a></div>
                <div class="product_img"><a href="#"><img src="{% static 'images/p1.jpg' %}" alt="" border="0" /></a>
                </div>
                <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
            </div>
            <div class="title_box">Boletín</div>
            <div class="border_box">
                <input type="text" name="newsletter" class="newsletter_input" value="your email" />
                <a href="#" class="join">subscribirse</a>
            </div>
            <div class="banner_adds"> <a href="#"><img src="{% static 'images/bann2.jpg' %}" alt="" border="0" /></a>
            </div>
        </div>
        <div class="center_content" style="justify-items: center;">
            <h2>{{ producto.nombre }}</h2>
            <img src="{{ producto.foto }}" alt="{{ producto.nombre }}" style="max-width:300px;">
            <p><b>Marca:</b> {{ producto.marca }}</p>
            <p><b>Modelo:</b> {{ producto.modelo }}</p>
            <p><b>Precio:</b> ${{ producto.precio|floatformat:0 }}</p>
            <p><b>Stock:</b> {{ producto.stock }}</p>
            <p><b>Categoría:</b> {{ producto.categoria }}</p>
            <a href="{% url 'productos_ferreteria' %}" class="prod_details">Volver</a>
        </div>
        <div class="right_content">
            <div class="title_box">Buscar</div>
            <div class="border_box">
                <input type="text" name="newsletter" class="newsletter_input" value="keyword" />
                <a href="#" class="join">Buscar</a>
            </div>
            <div class="shopping_cart">
                <div class="title_box">Carrito de compras</div>
                {% if carrito %}
                <div class="cart_details">
                    <ul style="list-style: none; padding: 0;">
                        {% for pid, cantidad in carrito.items %}
                        {% with prod=productos_dict|get_item:pid %}
                        {% if prod %}
                        <li><b>{{ prod.nombre }}</b> (x{{ cantidad }}) - ${{ prod.precio|floatformat:0 }} c/u</li>
                        {% endif %}
                        {% endwith %}
                        {% endfor %}
                    </ul>
                    <span class="border_cart"></span>
                    <b>{{ total_productos }} productos</b><br />
                    <b>Total: <span class="price">${{ total_carrito }}</span></b>
                </div>
                {% else %}
                <div class="cart_details">Carrito vacío</div>
                {% endif %}
                <div class="cart_icon">
                    <a href="#"><img src="{% static 'images/shoppingcart.png' %}" alt="" width="35" height="35"
                            border="0" /></a>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="left_footer"> <img src="{% static 'images/footer_logo2.png' %}" alt="" width="89" height="42" />
            </div>
            <div class="center_footer">Ferremas. Todos los derechos reserva2<br />
                <a href="http://csscreme.com"><img src="{% static 'images/csscreme.jpg' %}" alt="csscreme"
                        title="csscreme" border="0" /></a><br />
                <img src="{% static 'images/payment.gif' %}" alt="" />
            </div>
            <div class="right_footer"> <a href="#">home</a> <a href="#">Sobre nosotros</a> <a href="#">sitemap</a> <a
                    href="#">rss</a> <a href="#">Contactanos</a> </div>
        </div>
    </div>

</body>

</html>